
<h3>新規投稿ページ</h3>
<%= form_for @travel do |f| %>

  <div class="field">
    <%= f.label :country_name %>
    <%= f.text_field :country_name, :size => 30 %>
  </div>
  <br>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :size => 30 %>
  </div>
  <br>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <br>

  <div class="field">
    <%= f.label :highlight  %>
    <%= f.text_area :highlight, :size => "30x2" %>
  </div>
  <br>
   <div class='form-group'>
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
            <div class='form-check'>
                <%= tag.label class: 'form-check-label' do %>
                    <%= tag.check_box class: 'form-check-input' %>
                    <%= tag.text %>
                <% end %>
            </div>
        <% end %>
    </div>

  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "Tweet一覧に戻る", travels_path %>