<!DOCTYPE html>
<html>
  <head>
    <title>VoyageJournal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   
  <header class="header">
  <div class="header-inner">
   

    <div class="header-list">
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to "TOP", travels_path %></li>
          <li><%= button_to 'LOGOUT', destroy_user_session_path, method: :delete %></li>
          <li><%= link_to "NEWS", worldmap_path, class: "btn btn-primary" %></li>
          <li><%= link_to "MY PAGE", user_path(current_user.id) %></li>
        <% else %>
          <li><%= link_to "TOP", travels_path %></li>
          <li><%= link_to "SIGNUP", new_user_registration_path %></li>
          <li><%= link_to "LOGIN", new_user_session_path %></li>
          <li><%= link_to "NEWS", worldmap_path, class: "btn btn-primary" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>




 <main>
  <%= yield %>
 </main>
</body>

</html>





